body {
background-color: #12345678;
}
body {
  color: black;
}

h1 {
  color: black;
}

h1 {
  font-family: serif;
}


img {
  display: block;
  max-width: 150px;
  border-radius: 50%;
  margin: 20px auto;
  border: 4px solid #000;
}



